table {
  width: 100%;
  border-collapse: collapse;
}

.mat-mdc-header-row {
  background-color: lightgray;
}

.mdc-data-table__row:nth-child(even) {
  background-color: rgb(253, 253, 253);
}


.mdc-data-table__cell {
  border: 1px solid lightgray;

}
  
  .mat-mdc-form-field {
    // font-size: 14px;
    width: 100%;
  }


  .mat-column-rno {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 8% !important;
    width: 8% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
  .mat-column-countryname {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 80% !important;
    width: 80% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-editupdate {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    width: 5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }